<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="pt.uminho.haslab.echo.commands.filemanage"
            name="Manage file">
      </command>
      <command
            id="pt.uminho.haslab.echo.commands.modelconforms"
            name="Conforms">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.SolutionSelectHandler"
            id="pt.uminho.haslab.echo.commands.alloysave"
            name="Save instance">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.SolutionNextHandler"
            id="pt.uminho.haslab.echo.commands.alloynext"
            name="Next instance">
      </command>
      <command
            id="pt.uminho.haslab.echo.commands.qvtconstraint"
            name="New inter-model constraint">
      </command>
      <command
            id="pt.uminho.haslab.echo.commands.modelgenerate"
            name="Generate model">
      </command>
      <command
            id="pt.uminho.haslab.echo.commands.fileremove"
            name="Remove file">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu icon="/icons/echo.png"
               label="Echo">
         	<command
               commandId="pt.uminho.haslab.echo.commands.filemanage"
               icon="icons/trackmodel.png"
               label="Track model"
               style="push">
            <visibleWhen>
               <iterate>
               <and>
              	 <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="pt.uminho.haslab.echo.plugin.propertyTester.tracked"
                           value="false">
                     </test>
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.xmi">
                     </test>
                  </adapt>  
                  </and>
               </iterate>
            </visibleWhen>
         </command>
 
         <command
               commandId="pt.uminho.haslab.echo.commands.qvtconstraint"
               icon="/icons/qvtrel.gif"
               label="New inter-model constraint..."
               style="push">
               <visibleWhen>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.qvtr">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.modelgenerate"
               icon="/icons/newmodel.gif"
               label="Generate model..."
               style="push">
            <visibleWhen>
               <iterate>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.name"
                              value="*.ecore">
                        </test>
                     </adapt>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.fileremove"
               icon="/icons/remove.gif"
               label="Untrack model"
               style="push">
            <visibleWhen>
               <iterate>
               <and>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.xmi">
                     </test>
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="pt.uminho.haslab.echo.plugin.propertyTester.tracked">
                     </test>
                  </adapt>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
        
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pt.uminho.haslab.echo.graphviewer">
         <command
               commandId="pt.uminho.haslab.echo.commands.alloynext"
               icon="icons/next.gif"
               label="Next instance"
               style="push">
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.alloysave"
               icon="icons/select.gif"
               label="Save instance"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar"> >
         <toolbar
               id="pt.uminho.haslab.echo.plugin.toolbar"
               label="Echo toolbar">
            <command
                  commandId="pt.uminho.haslab.echo.commands.qvtconstraint"
                  icon="/icons/qvtrel.gif"
                  label="New QVT constraint"
                  style="push">
            </command>
            <command
                  commandId="pt.uminho.haslab.echo.commands.modelgenerate"
                  icon="/icons/newmodel.gif"
                  label="Generate model"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="pt.uminho.haslab.echo.plugin.properties.ProjectPropertiesPage"
            id="pt.uminho.haslab.echo.plugin.properties.echoProperty"
            name="Echo">
         <enabledWhen>
         	<adapt
         		type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
    <page
        class="pt.uminho.haslab.echo.plugin.properties.ProjectModelsPage"
        id="pt.uminho.haslab.echo.plugin.properties.echoPropertyModels"
        name="Tracked models"
        category="pt.uminho.haslab.echo.plugin.properties.echoProperty">
     <enabledWhen>
     	<adapt
     		type="org.eclipse.core.resources.IProject">
        </adapt>
     </enabledWhen>
  </page>
      <page
        class="pt.uminho.haslab.echo.plugin.properties.ProjectConstraintsPage"
        id="pt.uminho.haslab.echo.plugin.properties.echoPropertyConstraints"
        name="QVT Constraints"
        category="pt.uminho.haslab.echo.plugin.properties.echoProperty">
     <enabledWhen>
     	<adapt
     		type="org.eclipse.core.resources.IProject">
        </adapt>
     </enabledWhen>
  </page>
   </extension>
	<extension name="Echo intra-model inconsistency" id="pt.uminho.haslab.echo.plugin.intrainconsistency" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
	</extension>
	<extension
       id="pt.uminho.haslab.echo.plugin.interinconsistency"
       name="Echo inter-model inconsistency"
       point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
  <attribute
        name="qvtr">
  </attribute>
  <attribute
        name="opposite">
  </attribute>
	</extension>      
	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="pt.uminho.haslab.echo.plugin.EchoPropertyTester"
            id="pt.uminho.haslab.echo.plugin.propertyTester"
            namespace="pt.uminho.haslab.echo.plugin.propertyTester"
            properties="tracked"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
 <extension
       point="org.eclipse.ui.views">
       <category 
           id="pt.uminho.haslab.echo.viewcategory"
           name="Echo">
        </category> 
    <view
          category="pt.uminho.haslab.echo.viewcategory"
          class="pt.uminho.haslab.echo.plugin.views.GraphView"
          id="pt.uminho.haslab.echo.graphviewer"
          name="Echo solution"
          icon="icons/alloy.png"
          restorable="true">
    </view>
 </extension>
 <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="pt.uminho.haslab.echo.plugin.intrainconsistency"
         class="pt.uminho.haslab.echo.plugin.markers.EchoQuickFixer"/>
 </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="pt.uminho.haslab.echo.plugin.interinconsistency"
         class="pt.uminho.haslab.echo.plugin.markers.EchoQuickFixer"/>
 </extension>
<extension point="org.eclipse.ui.handlers">
  <handler class="pt.uminho.haslab.echo.plugin.handlers.FileUntrackHandler"
           commandId="pt.uminho.haslab.echo.commands.fileremove">
           
     
  </handler>
  <handler class="pt.uminho.haslab.echo.plugin.handlers.FileTrackHandler"
           commandId="pt.uminho.haslab.echo.commands.filemanage">

  </handler>
  <handler class="pt.uminho.haslab.echo.plugin.handlers.ModelGenerateHandler"
           commandId="pt.uminho.haslab.echo.commands.modelgenerate">
           
  </handler>
  <handler class="pt.uminho.haslab.echo.plugin.handlers.QVTConstraintAddHandler"
           commandId="pt.uminho.haslab.echo.commands.qvtconstraint">
  </handler>
</extension>

<extension point="org.eclipse.ui.perspectives">
   <perspective
         name="Echo"
         class="pt.uminho.haslab.echo.plugin.views.EchoPerspective"
         id="pt.uminho.haslab.echo.plugin.views.echoperspective"
         icon="/icons/echo.png">
   </perspective>
</extension>

</plugin>
