<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.AddInfoHandler"
            id="pt.uminho.haslab.echo.commands.addInfo"
            name="addInfo">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.RepairHandler"
            id="pt.uminho.haslab.echo.commands.repair"
            name="repair">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.ConformsHandler"
            id="pt.uminho.haslab.echo.commands.conforms"
            name="Conforms">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.SaveHandler"
            id="pt.uminho.haslab.echo.commands.saveInstanceInView"
            name="Save This Instance">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.NextHandler"
            id="pt.uminho.haslab.echo.commands.next"
            name="Next Instance">
      </command>
      <command
            defaultHandler="pt.uminho.haslab.echo.plugin.handlers.AddQVTRelationHandler"
            id="pt.uminho.haslab.echo.commands.addqvtrelation"
            name="Add QVT Relation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="pt.uminho.haslab.echo.commands.addInfo"
               label="Add Meta Model"
               style="push">
            <visibleWhen>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.ecore">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.addInfo"
               label="Add QVT"
               style="push">
            <visibleWhen>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.qvtr">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.addInfo"
               label="Add Model"
               style="push">
            <visibleWhen>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.xmi">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.repair"
               label="Repair Model"
               style="push">
            <visibleWhen>
               <iterate>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              forcePluginActivation="true"
                              property="pt.uminho.haslab.echo.plugin.propertyTester.hasmark">
                        </test>
                    </adapt>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.conforms"
               label="Check consistency with Meta Model"
               style="push">
            <visibleWhen>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.xmi">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.addqvtrelation"
               style="push">
               <visibleWhen>
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.qvtr">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:pt.uminho.haslab.echo.alloymodelview">
         <command
               commandId="pt.uminho.haslab.echo.commands.next"
               icon="icons/next.gif"
               style="push">
         </command>
         <command
               commandId="pt.uminho.haslab.echo.commands.saveInstanceInView"
               icon="icons/select.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="pt.uminho.haslab.echo.plugin.properties.ProjectPropertiesPage"
            id="pt.uminho.haslab.echo.plugin.properties.projectProperties"
            name="Echo">
         <enabledWhen>
         	<adapt
         		type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
	<extension name="Echo intra-model inconsistency" id="pt.uminho.haslab.echo.plugin.intrainconsistency" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
	</extension>
	<extension
       id="pt.uminho.haslab.echo.plugin.interinconsistency"
       name="Echo inter-model inconsistency"
       point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
		<persistent value="true"/>
  <attribute
        name="pt.uminho.haslab.echo.plugin.qvtrule">
  </attribute>
  <attribute
        name="pt.uminho.haslab.echo.plugin.partnermodel">
  </attribute>
	</extension>      
	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="pt.uminho.haslab.echo.plugin.EchoPropertyTester"
            id="pt.uminho.haslab.echo.plugin.propertyTester"
            namespace="pt.uminho.haslab.echo.plugin.propertyTester"
            properties="hasmark"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
 <extension
       point="org.eclipse.ui.views">
       <category 
           id="pt.uminho.haslab.echo.viewcategory"
           name="Echo">
        </category>
    <view
          category="pt.uminho.haslab.echo.viewcategory"
          class="pt.uminho.haslab.echo.plugin.views.AlloyModelView"
          id="pt.uminho.haslab.echo.alloymodelview"
          name="Alloy Model"
          icon="icons/alloy.png"
          restorable="true">
    </view>
 </extension>
 <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="pt.uminho.haslab.echo.plugin.intrainconsistency"
         class="pt.uminho.haslab.echo.plugin.EchoQuickFixer"/>
 </extension>
  <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="pt.uminho.haslab.echo.plugin.interinconsistency"
         class="pt.uminho.haslab.echo.plugin.EchoQuickFixer"/>
 </extension>
 <extension
       point="org.eclipse.core.resources.variableResolvers">
 </extension>

</plugin>
